.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  background-color: dimgray;
}

.App-link {
  color: #61dafb;
}

h3 {
  size: 3em;
  color: grey;
}

.console {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
}

.grid-flex{
  width: 100%;
  height: auto;
  padding: 2px;

  display: flex;
  flex-direction: row;
}

.grid {
  padding: 3px;
  border-radius: 2px;
  align-items: center;
}